*{
 box-sizing: border-box;
}
#div-compo {
  height: 239px;
  /* position: fixed; */
  width: 100%;

}

/* this style is for nav that have h1 and navLink */
.mother-nav {
  background:blue;
  height: 70px;

  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;

  position: fixed;
  width: 100%;
}
#mother-nav2 {
  height: 240px;
 

}

/* style for h1 */
.name-web {
  color: #fff;
  display: flex;
  align-self: flex-start;
margin-top: 7px;
}
#name-web2 {

  padding: 0;
  position: absolute;
}
/* sstyle for search box */
.search-box {
  width: 200px;
  height: 35px;
  border-radius: 4px;
  border: none;
  outline: none;
  margin-top: 9px;
 
  display: flex;
}
#search-box2 {
  display: block;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-left: 10%;
  margin-top: 70px;
  margin-right: 70px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* this style for berger navbae */
.Bars {
  display: none;
  color: #fff;
}
/* this style for div that have navlink */
.nave-menu {
  display: flex;
  align-items: center;
  margin-right: 24px;
}
#nave-menu2 {
  position: absolute;
  top: 130px;
  left: 0px;
  height: 300 px;
  width: 100vw;
  background-color: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-size: 25px; */
}
/* this is NavLinlk style */
.NavLink {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0 1rem;
  height: 100%;
  cursor: pointer;
  font-size: 15px;
}
.NavLink:hover {
  color: #15cdfc;
}
/* thi is a style for NaveLink Login */
.Log-in {
  text-decoration: none;
  color: #fff;
  padding: 7px;
}
.Log-in:hover {
  color: #000000;
  background: #15cdfc;
  height: 40px;
  width: 57px;
  border-radius: 4px;
  padding: 7px;
}

/* media for navbar monile */
@media screen and (max-width: 768px) {
  .Bars {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 75%);
    font-size: 1.8rem;
    cursor: pointer;
  }
  .nave-menu {
    display: none;
  }
  .search-box {
    display: none;
  }
}

/*  */

/*  */
@media screen and (min-width: 768px) {
  #div-compo {
    height: 88px;
  }

  #mother-nav2 {
    padding: 0.5rem calc((100vw - 1000px) / 2);
    display: flex;
    align-self: flex-end;
    height: 88px;
  }
  /* #logo2 {
    margin-right: 25vw;
  } */
  #nave-menu2 {
    background-color: #000;
    top: 0px;
    height: 100%;
    width: 100vw;
    position: relative;
    display: flex;
    flex-direction: row;
    margin-left: 54px;
    color: #fff;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    cursor: pointer;
    align-self: flex-end;
    font-size: 15px;
  }
  #search-box2 {
    margin-top: 20px;
    width: 200px;
    height: 35px;
    margin-left: 220px;
  }
}
