#div-compo {
  height: 400px;
}

/* this style is for nav that have h1 and navLink */
.mother-nav {
  background: #000;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem calc((100vw - 1000px) / 2);
  z-index: 10;
}
#mother-nav2 {
  height: 287px;
}

/* style for h1 */
.name-web {
    color: #fff;  
  display: flex;
  align-self: flex-start;
  margin: 14px;
}
/* sstyle for search box */
.search-box {
    
}


/* this style for berger navbae */
.Bars {

}
/* this style for div that have navlink */
.nave-menu {
}
#nave-menu2 {
}
/* this is NavLinlk style */
.NavLink {
}
.NavLink:hover {
  color: #15cdfc;
}
#NavLink2 {
}

/* thi is a style for NaveLink Login */

.Log-in:hover {
  color: #000000;
  background: #fff;
  height: 40px;
  border-radius: 4px;
}


/* media for navbar monile */
@media screen and (max-width: 768px) {
}

@media screen and (min-width: 768px) {
  #div-compo {
    height: 88px;
  }

  #mother-nav2 {
    padding: 0.5rem calc((100vw - 1000px) / 2);
    display: flex;
    align-self: flex-end;
    height: 88px;
  }
  #logo2 {
    margin-right: 25vw;
  }
}
