.body-toggel{
    /* position: absolute; */
    margin-right: 10px;
    background-color: #2f3638;
    width: 70px;
    height: 30px;
    border-radius: 44px;
}


.button-toggel{
     width: 29px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border-color:black; 
    /* transition: all step-end 0.7s; */
  
}

.button-toggel2{
    transform: translateX(43px);
    width: 29px;
    height: 29px;
    border-radius: 50%;
}